<header>
    <div class="header header-main header-var2 fade-load-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-wrapper">
                        <a href="/"><img src="/images/logo.png" alt="logo" style="height: 120px; width: 120px;" /></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="outer-nav">
                        <div class="wrapper-links">
                            <ul class="header-social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <span class="sign-in-buttons">
                                <a class="login" href="#">Login</a>
                                <a class="register" href="#">Register</a>
                            </span>
                        </div>
                        <div class="wrapper-main-nav ">
                            <nav class="nav-collapse responsive-menu">
                                <ul class="main-menu">
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/recipeList">All Recipes</a>
                                    </li>
                                    <li><a href="/locationsList">Locations</a></li>
                                    <li><a href="blog.html">blog</a>
                                    </li>
                                    <li><a href="elements.html">elements</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a class="submit-recipe" href="submit-recipe.html">Submit recipe</a></li>
                                </ul>

                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>