
 <header>
    <div class="header header-main header-var2 fade-load-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-wrapper">
                        <a href="index.html"><img src="images/logo.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="outer-nav">
                        <div class="wrapper-links">
                            <ul class="header-social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <span class="sign-in-buttons">
                                <a class="login" href="#">Login</a>
                                <a class="register" href="#">Register</a>
                            </span>
                        </div>
                        <div class="wrapper-main-nav ">
                            <nav class="nav-collapse responsive-menu">
                                <ul class="main-menu">
                                    <li><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="variation1.html">variation one</a></li>
                                            <li><a href="variation2.html">variation two</a></li>
                                            <li><a href="variation3.html">variation three</a></li>
                                            <li><a href="variation4.html">variation four</a></li>
                                            <li><a href="variation5.html">variation five</a></li>
                                            <li><a href="variation6.html">variation six</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="recipe-listing.html">Recent Recipes</a>
                                        <ul>
                                            <li><a href="recipe-listing.html">recipe listing list view</a></li>
                                            <li><a href="recipe-listing-grid.html">recipe listing grid view</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="recipe-listing.html">Recipe Detail</a>
                                        <ul>
                                            <li><a href="recipe-detail.html">recipe detail version 1</a></li>
                                            <li><a href="recipe-detail2.html">recipe detail version 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="our-chefs.html">Chefs</a></li>
                                    <li><a href="blog.html">blog</a>
                                        <ul>
                                            <li><a href="single.html">Single post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="elements.html">elements</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a class="submit-recipe" href="submit-recipe.html">Submit recipe</a></li>
                                </ul>

                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>