<section class="hot-recipes-var2">
    <div class="container">
        <div class="wrapper-hot-recipe-var2">
            <div class="hot-recipes-bordered">
                <div class="heading-var1 text-center animated wow flipInX">
                    <h2><a href="#">Hottest Recipes at Food & Taste</a></h2>
                    <span class="heading-bell">
                        <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 25 19">
                            <g>
                                <title>background</title>
                                <rect fill="none" height="21" width="27" y="-1" x="-1" />
                            </g>
                            <g>
                                <title>Layer 1</title>
                                <path class="icon-svg"
                                    d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </g>
                        </svg>
                    </span>
                </div>

                <div class="hot-row">
                    {{#each data.featuresList}}
                    <div class="split-images-var2 col-size text-center">
                        <div class="image-first inner-split">
                            <div class="image common-split animated wow flipInY animation-delay100ms">
                                <img src="{{#getFirstImage this.c_images}}{{/getFirstImage}}" alt="image" />
                            </div>
                            <div class="intro common-split animated wow flipInY animation-delay200ms">
                                <div class="intro-inner ">
                                    <h3><a href="/recipeDetail/{{this.meta.id}}">{{this.name}}</a></h3>
                                    <div class="short-separator"></div>
                                    <p>
                                        {{this.richTextDescription}}
                                    </p>
                                    <a class="read-more" href="/recipeDetail/{{this.meta.id}}">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>