<div class="reviewsContainer">
    <div class="post">
        <div class="text">Thanks for rating us!</div>
        <div class="edit">EDIT</div>
    </div>
    <div class="star-widget">
        <form action="/postReview" id="reviewDetails" method="POST">
            <input type="radio" name="rate" value="5" id="rate-5">
            <label for="rate-5" class="fa fa-star"></label>
            <input type="radio" name="rate" value="4" id="rate-4">
            <label for="rate-4" class="fa fa-star"></label>
            <input type="radio" name="rate" value="3" id="rate-3">
            <label for="rate-3" class="fa fa-star"></label>
            <input type="radio" name="rate" value="2" id="rate-2">
            <label for="rate-2" class="fa fa-star"></label>
            <input type="radio" name="rate" value="1" id="rate-1">
            <label for="rate-1" class="fa fa-star"></label>
            <div class="otherData">
                <div>
                    <div class="nameContainer">
                        <div class="name"><label for="fname">Name:</label>
                            <input type="name" id="fname" name="fname">
                        </div>
                        <div class="email"><label for="fname">Email: </label>
                            <input type="email" id="email" name="email">
                        </div>
                    </div>
                    <label for="title">Review Title:</label>
                    <input type="text" id="title" name="title">
                    <label for="entityId" hidden>EntityId:</label>
                    <input type="hidden" id="entityId" name="entityId" value="{{recipeData.meta.id}}" >
                    <label for="textarea">Description</label>
                    <textarea cols="80" class="textarea" name="textarea"
                        placeholder="Describe your experience.."></textarea>
                </div>
                <div class="btn">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("form").validate({
            rules: {
                name: "required",
                email: {
                    required: true,
                    email: true
                },
                title: "required",
                textarea: "required",

            },
            messages: {
                name: "Please enter your Name",
                email: "Please enter a valid email address",
                title: "Please enter a title",
                textarea: " Please enter a review"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>