{{> header}}
<div class="banner banner-blog">
    <div class="container ">
        <div class="main-heading">
            <h1>Our Locations</h1>
        </div>

    </div>
</div>



<div class="recipes-home-body inner-page locationLists">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set">
                    <h2>We are present at</h2>

                    <div class="recipe-listing listing-grid">
                        {{#each data}}
                        <div class="listing">
                            <div class="image">
                                <img src="{{#getImageFromPhotoGallery this.photoGallery}}{{/getImageFromPhotoGallery}}"
                                    alt="image" />
                            </div>
                            <div class="detail">
                                <h4><a href="/locationDetail/{{this.meta.id}}">{{this.name}}</a></h4>
                                <p>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {{this.mainPhone}}
                                </p>
                                <p>
                                    <strong>Price range: </strong> {{#generatePriceDollarSigns
                                    this.priceRange}}{{/generatePriceDollarSigns}}
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{{> footer}}