{{> header}}
{{> search}}
{{> homeCarousel}}
{{> hotRecipes}}
<!--our chefs banner-->
<div class="chefs-banner">
    <div class="container">
        <div class="chefs-card text-center wow animated bounceInDown">
            <div class="chefs-card-inner">
                <h2>we love our chefs join us now</h2>
                <div class="short-separator"></div>
                <img src="images/chefs-hat.png" alt="hat" />
                <p>
                    Nam ornare arcu turpis, nec congues with us <br />
                    Curabitur quis euismod mauris. Nulls <br />
                    eget semper vulputate.
                </p>
                <a class="read-more-bordered" href="#">Our Chefs</a>
            </div>
        </div>
    </div>
</div>
{{> latestNews}}
{{> popularRecipes}}
{{> footer}}